@page
@model Website.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}

    <div class="menucontainer">
        <div class="menu-item">

            <h1>Menu</h1>
            <h2>Combos</h2>

            @foreach (DinoDiner.Menu.IMenuItem item in Model.Menu.AvailableMenuItems)
            {
                if (item is DinoDiner.Menu.CretaceousCombo combo)
                {
                    <h3>@combo.Entree Combo</h3>
                    <ul style="list-style-type:none">
                        <li>Price: $@combo.Price</li>
                        <li>Calories: @combo.Calories</li>
                        <li>
                            Ingredients:
                            @foreach (string s in combo.Ingredients)
                            {
                            <li class="text">@s</li>
                        }
                        </ul>
                    }
                }




            <h2>Entrees</h2>
                @foreach (DinoDiner.Menu.IMenuItem item in Model.Menu.AvailableMenuItems)
                {
                    if (item is DinoDiner.Menu.Entree entree)
                    {
                        <h3>@entree</h3>
                        <ul style="list-style-type:none">
                            <li>Price: $@entree.Price</li>
                            <li>Calories: @entree.Calories</li>
                            <li>
                                Ingredients:
                                @foreach (string s in entree.Ingredients)
                                {
                                <li class="text">@s</li>
                            }
                            </ul>
                        }
                    }


                <h2>Drinks</h2>
                @foreach (DinoDiner.Menu.IMenuItem item in Model.Menu.AvailableMenuItems)
                {
                    if (item is DinoDiner.Menu.Drink drink)
                    {
                        <h3>@drink</h3>
                        <ul style="list-style-type:none">
                            <li>Price: $@drink.Price</li>
                            <li>Calories: @drink.Calories</li>
                            <li>
                                Ingredients:
                                @foreach (string s in drink.Ingredients)
                                {
                                <li class="text">@s</li>
                            }
                            </ul>
                        }
                    }

                <h2>Sides</h2>
                @foreach (DinoDiner.Menu.IMenuItem item in Model.Menu.AvailableMenuItems)
                {
                    if (item is DinoDiner.Menu.Side side)
                    {
                        <h3>@side</h3>
                        <ul style="list-style-type:none">
                            <li>Price: $@side.Price</li>
                            <li>Calories: @side.Calories</li>
                            <li>
                                Ingredients:
                                @foreach (string s in side.Ingredients)
                                {
                                <li class="text">@s</li>
                            }
                            </ul>
                        }
                    }
            </div>

        <form method="post">
            <h4>Search</h4>
            <input type="text" name="search" value="search" />
            <input type="submit" value="Search and Filter" id="searchandfilter" />

            <div class="checkboxList">
                <h4>Menu Category</h4>
                <label>
                    <input type="checkbox" value="Combo" name="menuCategory" checked="@Model.menuCategory.Contains("Combo")" />
                    Combo
                </label>
                <label>
                    <input type="checkbox" value="Emtree" name="menuCategory" checked="@Model.menuCategory.Contains("Entree")" />
                    Entree
                </label>
                <label>
                    <input type="checkbox" value="Drink" name="menuCategory" checked="@Model.menuCategory.Contains("Drink")" />
                    Drink
                </label>
                <label>
                    <input type="checkbox" value="Side" name="menuCategory" checked="@Model.menuCategory.Contains("Side")" />
                    Side
                </label>
            </div>

            <div class="priceFilter">
                <h4>Price</h4>
                <label>
                    Min Price
                    <input type="number" id="minimum-price" name="minimumPrice" />
                </label>
                <label>
                    Max Price
                    <input type="number" id="maximum-price" name="maximumPrice" />
                </label>
            </div>

            <div class="IngredientFilter">
                <h4>Ingredient</h4>
                @foreach (string ingr in Model.Menu.PossibleIngredients)
                {
                    <label>
                        <input type="checkbox" value="@ingr" name="@ingr" />
                        @ingr
                    </label>
                }

            </div>
        </form>
    </div>